/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


/*body background*/

body {

	background: #F6F8F9;
}

/*Header Elements*/

.a-header {

	display: inline-block;
	font-family: 'Oswald', sans-serif;
	color: #FA6980;
	font-weight: bold;
	font-size: 13;
	margin: 18px 92px 17px 20px;
	vertical-align: middle;
}

.nav-header {

	display: inline-block;
	vertical-align: middle;

}


.list-header {
	display: inline-block;
	font-family: 'Oswald', sans-serif;
	font-size: 11;
	color: #343638;
	font-weight: bold;
	margin: 20px 22px 18px 0px;
}


.active {

	color: #202124;
	margin-right: 27px;
}

.img-header {
	margin: 11px 0 9px 18px;
	vertical-align: middle;
}


/*Section1 and Section2 title*/


.section-title {

	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: 24px;
	color: #202124;
	margin-bottom: 40px;
	text-transform: uppercase;
}


/*Section 1 elements*/

.section1 {

	margin-top: 25px;
	margin-bottom: 58px;
	margin-left: 140px;
}

.sec1-div {

	position: relative;
	width: 360px;
	height: 350px;
	background: #FFFFFF;
	display: inline-block;
	margin-right: 40px;
}

.last-div {

	margin-right: 0;
}

.sec1-img {
	width: 360px;
	height: 180px;
	margin-bottom: 66px;
}

.sec1-title {

	position: absolute;
	left: 40px;
	top: 28px;
	color: #FFFFFF;
	size: 16px;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
}


.sec1-p {

	color: #A6ADB4;
	font-size: 13;
	margin: 0 40px 10px 40px;
	line-height: 23px;
	font-family: 'Oswald', sans-serif;
}

.time {
	vertical-align: middle;
	width: 16px;
	margin-left: 40px;
	margin-right: 10px;
}

.sec1-time {
	color: #A6ADB4;
	font-size: 13;
	vertical-align: middle;

	font-family: 'Oswald', sans-serif;
}


/*Section 2 elements*/

.section2 {
	margin-top: 25px;
	margin-bottom: 37px;
	margin-left: 140px;
}

.sec2-div1 {
	width: 760px;
	height: 900px;
	display: inline-block;
	vertical-align: top;
	margin-right: 40px;
	margin-bottom: 37px;
	position: relative;
}


.sec2-title {

	position: absolute;
	left: 308px;
	top: 194px;
	color: #FFFFFF;
	size: 16px;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
}

.sec2-div1-img {

	height: 430px;
	margin-bottom: 40px;
} 

.last-img{
	margin-bottom: 0;
}


.sec2-div2 {

	width: 360px;
	height: 896px;
	display: inline-block;
	vertical-align: top;
}


.sec2-div2-img {

	height: 210px;
	margin-bottom: 102px;
} 


/*footer elements*/

footer {
	height: 200px;
	background: #A6ADB4;
	color: #CBD0D3;
	padding-left: 142px;
	padding-top: 56px;
}

.footer-div1 {
	display: inline-block;
	height: 84px;
	vertical-align: top;

}

.a-footer {
	display: inline-block;
	font-family: 'Oswald', sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 13;
	margin-right: 89.1px;
	vertical-align: top;

}

 .footer-ul {
 	display: inline-block;
 }

.footer-list {
	text-transform: capitalize;
	color: #CBD0D3;
	font-size: 13;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	margin-bottom: 8px;

}


.discovery {
	margin-right: 71px;
}


.guidelines {
	margin-right: 86.3px;
}


.footer-span {
	font-size: 11px;
	font-family: 'Oswald', sans-serif;
	margin-left: 105px;
	margin-right: 165.2px;
}

.footer-div2 {
	display: inline-block;

}

.footer-img {
	height: 16px;
	margin-right: 32px;
}

.web {
	margin-right: 0;
}
